<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template.html :: header('Social Network', false)"></head>

<body>
<div th:replace="template.html :: navbar" ></div>

<div th:replace="template.html :: jumbotron" ></div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1 th:text="#{index.register.today}">Inscrivez-vous aujourd'hui!</h1>
            <div class="form-group">
                <form th:action="@{/add}" th:object="${utilisateur}" method="POST" id="add">

                    <div class="form-group">
                        <div class="col-xs-15">
                            <div>
                                <!-- Check for registration error -->
                                <div th:if="${registrationError}" class="alert alert-danger col-xs-offset-1 col-xs-10">
                                    <p>Un utilisateur possedant ce login a déjà été enregistré</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="register_prenom:">
                            <span th:text="#{prenom}">prenom</span>: <input type="text" th:field="*{prenom}" name="register_prenom" class="form-control" id="register_prenom" required/>
                        </label>
                        <div class="help-block register_prenom_error hidden">Veuillez fournir un prénom valide</div>
                        <div th:if="${#fields.hasErrors('prenom')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('prenom')}" th:text="'prenom ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register_nom">
                            <span th:text="#{nom}">nom</span>: <input type="text" th:field="*{nom}" name="register_nom" class="form-control" id="register_nom" required/>
                        </label>
                        <div class="help-block register_nom_error hidden">Veuillez fournir un nom valide</div>
                        <div th:if="${#fields.hasErrors('nom')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('nom')}" th:text="'nom ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register_login">
                            <span th:text="#{login}">Login</span>: <input type="text" th:field="*{login}" name="register_login" class="form-control register_login" id="register_login" required/>
                        </label>
                        <div class="help-block register_login_error hidden">Veuillez fournir un email valide</div>
                        <div th:if="${#fields.hasErrors('login')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('login')}" th:text="'Login ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register_password">
                            <span th:text="#{index.password}">Password</span>: <input type="password" th:field="*{password}" name="register_password" class="form-control register_password" id="register_password" required/>
                        </label>
                        <div class="help-block register_password_error hidden">Veuillez respecter ceci : lettre(s) et chiffre(s) au moins une fois, minimum 6 characters</div>
                        <div th:if="${#fields.hasErrors('password')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('password')}" th:text="'Password ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="register_password_confirm">
                            <span th:text="#{index.confirm.password}">Confirmez le mot de passe</span>: <input type="password" th:field="*{passwordConfirmation}" name="register_password_confirm" class="form-control register_password_confirm" id="register_password_confirm" required/>
                        </label>
                        <div class="help-block register_password_confirm_error hidden">Les mots de passe ne correspondent pas</div>
                        <div th:if="${#fields.hasErrors('passwordConfirmation')}" style="margin-bottom: 25px" class="text-danger">
                            <ul>
                                <li th:each="err : ${#fields.errors('passwordConfirmation')}" th:text="'Password confirmation ' + ${err}" />
                            </ul>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="S'inscrire &raquo" class="btn btn-lg btn-success register_submit"/>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <hr/>
</div>

<div th:replace="template.html :: footer"></div>

</body>
</html>